include ./partials/head
    include ./partials/header
    h5=`ShortURL: ${val}`
    form(action=`/urls/${val}/update` method="post" style="margin:150px;")
      label(for="longURL") Enter a URL:
      input(
        id="longURL"
        type="text"
        name="longURL"
        placeholder=longVal
        style="width:300px"
        )
      input(type="submit" value="Submit")